@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Afacad", sans-serif;
    }

    .navlinks a.active {
        @apply font-bold;
    }

    .wines img {
        @apply object-contain;
    }

    .search-bar::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    table th {
      @apply border border-zinc-500 text-left px-2 bg-slate-50;
    }

    table td {
      @apply border border-zinc-500 px-2;
    }

    .loader1 {
      animation: animate1 700ms ease-in-out infinite alternate;
    }

    .loader2 {
      animation: animate2 700ms ease-in-out infinite alternate;
    }

    @keyframes animate1 {
      from {
        transform: translateX(0.5rem);
        opacity: 0.7;
      } to {
        transform: translateX(3rem);
        opacity: 0.2;
      }
    }

    @keyframes animate2 {
      from {
        transform: translateX(-0.5rem);
        opacity: 0.2;
      } to {
        transform: translateX(-3rem);
        opacity: 0.7;
      }
    }
 }
